<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>centerList</key>
	<array>
		<dict>
			<key>title</key>
			<string>礼包</string>
			<key>icon</key>
			<string>u_img_icon_giftPack</string>
			<key>identifier</key>
			<string>gift</string>
		</dict>
		<dict>
			<key>title</key>
			<string>客服</string>
			<key>icon</key>
			<string>u_img_icon_customer</string>
			<key>identifier</key>
			<string>customer</string>
			<key>vipqq</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>用户中心</string>
			<key>icon</key>
			<string>u_img_icon_user</string>
			<key>identifier</key>
			<string>uc</string>
		</dict>
	</array>
	<key>privileges</key>
	<array>
		<string>月费悠钻</string>
		<string>季费悠钻</string>
		<string>年费悠钻</string>
	</array>
	<key>payList</key>
	<array>
		<dict>
			<key>title</key>
			<string>余额支付</string>
			<key>icon</key>
			<string>u_img_icon_app</string>
			<key>identifier</key>
			<string>yxpay</string>
		</dict>
		<dict>
			<key>title</key>
			<string>支付宝支付</string>
			<key>icon</key>
			<string>u_list_icon_uzfb</string>
			<key>identifier</key>
			<string>alipay</string>
		</dict>
		<dict>
			<key>title</key>
			<string>微信支付</string>
			<key>icon</key>
			<string>u_list_icon_uwx</string>
			<key>identifier</key>
			<string>weixin</string>
		</dict>
	</array>
	<key>sign</key>
	<string>f1443a16233f1e8be5d5d678f7c82606</string>
	<key>payIndex</key>
	<integer>1</integer>
	<key>tourist</key>
	<true/>
</dict>
</plist>
