<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apple_id</key>
	<string>1466047803</string>
	<key>isLandscape</key>
	<string>1</string>
	<key>appKeyChian</key>
	<string>hjoyany.com1466047803</string>
</dict>
</plist>
