<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>promote_id</key>
	<string>0</string>
	<key>promote_account</key>
	<string>自然注册</string>
	<key>game_name</key>
	<string>谪仙传(苹果版)</string>
	<key>game_appid</key>
	<string>95BE28401D66B6892</string>
	<key>game_id</key>
	<string>64</string>
	<key>game_key</key>
	<string>V1dUNi0iIi8kWSQjKidDXVc=</string>
	<key>requestURL</key>
	<string>http://s.4884.com</string>
	<key>weixinAppId</key>
	<string>wxde3be52e5a02231f</string>
	<key>QQAppId</key>
	<string>1105801370</string>
	<key>MCHScheme</key>
	<string>mchpaysdkpayback</string>
</dict>
</plist>
