<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ChannelName</key>
	<string>pkpk6</string>
	<key>pkpk6</key>
	<dict>
		<key>domain</key>
		<string>http://m.pkpk6.com</string>
		<key>secretKey</key>
		<string>7yncSs43xV3IrPp0fl46G4HFmRlCnkdx</string>
		<key>kefukey</key>
		<string>6WPFsDV68OABkE4zw5ubDLtCVXhyXtm3</string>
		<key>chanelID</key>
		<string>0</string>
		<key>isAppSotre</key>
		<string>0</string>
	</dict>
</dict>
</plist>
