<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>centerList</key>
	<array>
		<dict>
			<key>icon</key>
			<string>u_img_icon_giftPack</string>
			<key>locale</key>
			<string>package</string>
			<key>identifier</key>
			<string>gift</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>u_img_icon_customer</string>
			<key>locale</key>
			<string>customerService</string>
			<key>identifier</key>
			<string>customer</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>u_img_icon_user</string>
			<key>locale</key>
			<string>userCenter</string>
			<key>identifier</key>
			<string>uc</string>
		</dict>
	</array>
	<key>payList</key>
	<array>
		<dict>
			<key>locale</key>
			<string>paypal</string>
			<key>icon</key>
			<string>u_list_icon_paypal</string>
			<key>identifier</key>
			<string>paypal</string>
		</dict>
		<dict>
			<key>locale</key>
			<string>wxPayment</string>
			<key>icon</key>
			<string>u_list_icon_uwx</string>
			<key>identifier</key>
			<string>weixin</string>
		</dict>
		<dict>
			<key>locale</key>
			<string>aliPayment</string>
			<key>icon</key>
			<string>u_list_icon_uzfb</string>
			<key>identifier</key>
			<string>alipay</string>
		</dict>
		<dict>
			<key>locale</key>
			<string>Balance</string>
			<key>icon</key>
			<string>u_img_icon_app</string>
			<key>identifier</key>
			<string>yxpay</string>
		</dict>
	</array>
	<key>sign</key>
	<string>2e4cead77cbfa161a8052be2c9fe5947</string>
	<key>payIndex</key>
	<string>0</string>
	<key>tourist</key>
	<true/>
	<key>language</key>
	<string>cn</string>
</dict>
</plist>
